<!-- =====================================
ABOUT
====================================== -->

<section id="about" class="about">

    <div class="container">

        <div class="section-header">

            <h2 data-i18n="about.title">

                About Me

            </h2>

            <p data-i18n="about.subtitle">

                Get to know more about my academic background,
                interests and professional goals.

            </p>

        </div>

        <div class="about-content">

            <p
                class="about-description"
                data-i18n="about.description">

                I am a Mechatronics Engineering student at ESPOL
                passionate about robotics, automation, software
                development and mechanical design. I enjoy solving
                multidisciplinary engineering problems by combining
                programming, electronics and mechanical systems.

            </p>


        </div>

    </div>

</section>